
.card-wrapper {
    display: flex; 
    justify-content: space-between;
    height: 30px;
    margin: 0px 20px;
    
}
.icons {
    display: flex;
    justify-content: flex-end;
    margin: 0px 5px;
}
.likes:hover {
    background-color: brown;
}
