.register-page {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    overflow: hidden;
    height: 93.6vh;
}

.register-page h2 {
    font-size: 47px;
    text-align: center;
    color: #D9D9D9;
    margin: 30px 15px;
}

.register-page p {
    text-align: center;
    color: #D9D9D9;
    font-size: 16px;
    font-weight: bold;
    font-family: worksans;
    margin: 0px 33px 30px;
}

.box-bg {
    position: relative;
    background-color: #BD9B45;
    margin: 20px 0 80px 0;
    height: 90%;
    width: 500px;
    border-radius: 8px;
}

.register-form {
    display: flex;
    justify-content: center;
}

.box-register {
    position: relative;
    background-color: #D9D9D9;
    margin-top: 10px;
    padding-top: 15px;
    height: 27rem;
    border-radius: 8px;
}

@media screen and (max-width: 500px) {
    .box-bg {
        position: relative;
        background-color: #BD9B45;
        margin: 0px 0px 100px 0;
        height: 95%;
        width: 90%;
        border-radius: 8px;
    }
    .register-page {
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        overflow: hidden;
        height: 93.4vh;
    }
    .register-page h2 {
        font-size: 30px;
        text-align: center;
        color: #D9D9D9;
        margin: 20px 15px;
    }

    .register-page p {
        text-align: center;
        color: #D9D9D9;
        font-size: 14px;
        margin: 40px;
        font-family: worksans;
        margin-bottom: 20px;
    }
}