.desktop-links {
    display: flex;
    font-size: 20px;
    margin: 0;
    gap: 6rem;
}

.desktop-links span {
    display: flex;
    justify-content: flex-end;
    gap: 6rem;
}

.desktop-links li {
    color: #ffffff;
    text-decoration: none;
    font-family: worksans;
    font-weight: 500;
}

.desktop-links li:hover {
    text-decoration: underline
}

.desktop-links Button {
    margin: 10px 0 0 0;
}

.instapigeon-title h2 {
    font-size: 40px;
    margin: 0;
    color: #5A558F;
}

@media screen and (max-width: 500px) {
    .instapigeon-title h2 {
        font-size: 30px;
        color: #5A558F;
    }
}