.desktop-links {
    display: flex;
    font-size: 20px;
    padding: -20px 0px;
    margin: 0px 30px;
}

.desktop-links span {
    display: flex;
    justify-content: space-between;
    padding: 0 8rem 0 0;
}

.desktop-links li {
    color: black;
    text-decoration: none;
    padding: 0 0 0 9rem;
    font-family: worksans;
    font-weight: 500;
}
.desktop-links li:hover {
    text-decoration: underline
}
.desktop-links Button {
    margin: 10px 0 0 0;
}

.instapigeon-title h2 {
    font-size: 40px;
    color: #5A558F;
}
.app-bar {
    position: relative;
    margin: -25px 0 0 0;
}

@media screen and (max-width: 400px) {
    .instapigeon-title h2 {
        font-size: 30px;
        color: #5A558F;
    }
    .app-bar {
        position: relative;
        margin: -15px 0 0 0;
        
    }

}

