.Landing {
    position: relative;
    background-color: #7F96FF;
    overflow: hidden;
}
.paragraph {
    font-family: poppins;
    color: #D9D9D9;
    text-align: center;
    margin: 10px 20px 20px;
}

.footer-right {
    text-align: left;
}

.purple-bg {
    background-color: #5A558F;
}

ul {
    list-style-type: none;
    font-family: worksans;
    margin: 40px 50px 0px 10px;
}


li:first-child {
    color: #262525;
}

li {
    color:#D9D9D9;
    margin: 15px 0;
}

.h2 {
    color: #D9D9D9;
    font-size: 30px;
    text-align: center;
    margin: 0px 8px;
}