.Landing {
    position: relative;
    background-color: #7F96FF;
    overflow: hidden;
    height: 140vh;
}

.box-landing {
    margin-top: 20px;
}

.header-landing {
    text-align: center;
    margin-bottom: 40px;
}

.header-landing h2 {
    color: #D9D9D9;
    font-size: 60px;
    text-align: center;
    margin: 0px 8px;
    letter-spacing: 1px;
}

.header-landing p {
    font-size: 28px;
    text-align: center;
    margin: 30px 500px;
    font-family: poppins;
    color: #D9D9D9;
}


.illustration-wrap p {
    font-family: poppins;
    font-size: 20px;
    color: #D9D9D9;
    text-align: center;
    margin: -40px 60px;

}

.purple-bg {
    background-color: #5A558F;
    height: 80vh;
    margin-top: 20px;
}

.footer-right {
    text-align: left;
}

ul {
    list-style-type: none;
    font-family: worksans;
    margin: 40px 50px 0px 10px;
}


li:first-child {
    color: #262525;
}

li {
    color: #D9D9D9;
    margin: 15px 0;
}

.illustration-wrap {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .Landing {
        background-color: #7F96FF;
        height: 330vh;
    }

    .illustration-wrap {
        display: flex;
        flex-direction: column;
    }

    .illustration-wrap p {
        font-family: poppins;
        color: #D9D9D9;
        text-align: center;
        margin: 20px 60px;
    }

    .purple-bg {
        background-color: #5A558F;
        height: 100vh;
    }
    

    .header-landing {
        margin-bottom: 30px;
        text-align: center;
    }

    .header-landing h2 {
        color: #D9D9D9;
        font-size: 35px;
        text-align: center;
        margin: 0px 8px;
    }

    .header-landing p {
        font-size: 15px;
        text-align: center;
        margin: 30px 20px;
        font-family: poppins;
        color: #D9D9D9;
    }
}