@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(../font/Poppins-Light.ttf);
}
@font-face {
    font-family: worksans;
    src: url(../font/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: worksans-light;
    src: url(../font/WorkSans-Light.ttf);
}
body {
    margin: 0;
}
h2 {
    font-family: 'poppins'
}