    .background-card {
        display: flex;
        justify-content: center;
        background-color: #D9D9D9;
        overflow: hidden;
        height: 93.6vh;
    }

    .images-login img:first-child {
        position: absolute;
        width: 200%;
        left: 30rem;
        top: 13rem;
    }

    .images-login img:last-child {
        position: absolute;
        width: 180%;
        top: 20rem;
        right: 33.5rem;
    }

    .background-card h2 {
        font-size: 47px;
        text-align: center;
        color: #D9D9D9;
        margin: 40px 20px;
    }

    .background-card .paragraph {
        text-align: center;
        color: #D9D9D9;
        font-size: 16px;
        font-weight: bold;
        font-family: worksans;
        margin: 0px 33px 30px;
    }

    .box-background div {
        display: flex;
        justify-content: center;

    }

    .box-background {
        position: relative;
        background-color: #BD9B45;
        margin: 20px 0 0 0;
        height: 90%;
        width: 500px;
        border-radius: 8px;
    }

    .box-loginform {
        position: relative;
        background-color: #D9D9D9;
        margin-top: 10%;
        border-radius: 8px;
    }



    /* login form  */

    .login-form {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 300px;
    }

    .login-form p {
        /* font size is stretching box, how do I combat this ? be making the text collapse  */
        font-size: 11px;
        font-weight: bold;
        font-family: worksans;
        margin: 6px 0px 3rem 0px;

    }

    /* changed height to remove scroll on smartphone */
    /* will probably wanna do the same for pads */
    @media screen and (max-width: 500px) {
        .background-card {
            display: flex;
            justify-content: center;
            background-color: #D9D9D9;
            overflow: hidden;
            height: 93.4vh;
        }
        .background-card h2 {
            font-size: 30px;
            text-align: center;
            color: #D9D9D9;
            margin: 20px 20px 10px;
        }
        .background-card .paragraph {
            margin: 0 20px;
            text-align: center;
            color: #D9D9D9;
            font-size: 16px;
            font-weight: bold;
            font-family: worksans;
        }

        .box-background {
            position: relative;
            margin: 0;
            width: 90%;
            border-radius: 8px;
        }

        .box-loginform {
            position: relative;
            background-color: #D9D9D9;
            border-radius: 8px;
            width: 80%;
        }

        .images-login img:last-child {
            display: none;
        }

        .images-login img:first-child {
            position: absolute;
            width: 140%;
            top: 480px;
            left: 60px;
        }
    }