.card {
    height: 200px;
    max-width: 150px;
    text-align: center;
    background-color: #5A558F;
    border-radius: 10px;
    margin: 2px;
}
.card-top {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 1.5rem;
}
.picture img {
    width: 100%;
    max-height: 21.22rem;
}  
.card-bottom {
    background-color: #5A558F;
    width: 100%;
    border-radius: "0 0 10px 10px";
}
p {
   font-size: 10px; 
}
