.singleCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height:600px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 4px;

}


 /* remove these stylings when using actual pictures */
img {
    margin-top: 10px;
    align-self: center;
}  
